/* TODO List:
* Commenting
* Removing uneccessary code (blanks)
* Joining repeated code together (follow DRY - currently not DRY)
*/



/*

 EVENT SPONSORING COMPANIES AND SOCIAL MEDIA COMPONENT STYLESHEET

*/

/*
  COMPANIES AND SOCIAL MEDIA
*/

/* Wrapper for companies and social media */
.companies-and-social-wrapper
{
  display:flex;
  flex:1;
  padding:0;
  flex-direction: column;
}

.sponsoring-companies-wrapper,
.facebook-wrapper,
.twitter-wrapper
{
  display:flex;
  flex:1;
  padding:0;
  flex-basis: auto;
}

/*
  SPONSORING COMPANIES
*/

/* Wrapper for event sponsoring companies  */
.sponsoring-companies-wrapper
{

}

/* Add styling to the company list */
.sponsoring-companies-wrapper ul
{
  display:flex;
  flex:1;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin-bottom:40px;
}

/* Add styling to the company list item */
.sponsoring-companies-wrapper ul li
{
  flex-basis:50%;
  margin-top:20px;
}

/* Remove top margin from the first two companies */
.sponsoring-companies-wrapper ul li:nth-child(1),
.sponsoring-companies-wrapper ul li:nth-child(2)
{
  margin-top:0;
}

.sponsoring-companies-wrapper ul li:nth-child(odd){ padding-right:100px; }
.sponsoring-companies-wrapper ul li:nth-child(even){ padding-left:100px; }

/* Add styling to company images */
.sponsoring-companies-wrapper ul li img
{
  display:block;
  width:100%;
  margin:auto;
}

@media(min-width:1100px){
  .sponsoring-companies-wrapper ul
  {
    flex-direction: column;
  }

  .sponsoring-companies-wrapper ul li
  {
    flex-basis:0;
    margin-top:20px !important;
    padding:0 !important;
  }

  .sponsoring-companies-wrapper ul li:first-of-type
  {
    margin-top:0 !important;
  }

  .sponsoring-companies-wrapper ul li img
  {
    max-width: 128px;
  }
}

/*
FACEBOOK+TWITTER FEED
*/

.facebook-wrapper .card,
.twitter-wrapper .card
{
  box-shadow: 0px 0px 10px 1px #888888;
  margin:auto;
  border-radius:20px;
  position:relative;
}

/*

  FACEBOOK FEED

*/

.facebook-wrapper
{
  margin-top:20px;
}

.facebook-wrapper .card img
{
  border-radius:20px 20px 0 0;
  border-bottom:1px solid black;
  max-height:256px;
  width:100%;
}

.facebook-wrapper .card .card-body:first-of-type
{
  width:100%;
  display:flex;
  flex:1;
  flex-direction: row;
  flex-wrap: wrap;
  position:absolute;
  top:0;
  padding:20px 40px;
  color:white;
  height: 255px;
}

.facebook-wrapper .card .card-body:first-of-type img,
.facebook-wrapper .card .card-body:last-of-type img
{
  max-width:64px;
  max-height:64px;
  border:1px solid black;
}

.facebook-wrapper .card .card-body:first-of-type .card-title
{
  margin-left:20px;
  margin-top:0;
}

.facebook-wrapper .card .card-body:first-of-type .card-title:last-of-type
{
  position: absolute;
  top: 64px;
  left: 105px;
}

.facebook-wrapper .card .card-body:first-of-type .card-button
{
    position: absolute;
    bottom: 20px;
    left: 0;
    color: black;
    width: 100%;
    padding: 0px 40px;
}

.facebook-wrapper .card .card-body:first-of-type .card-button .card-button-wrapper
{
  position:relative;
  width:100%;
}

.facebook-wrapper .card .card-body:first-of-type .card-button .card-button-wrapper .btn:first-of-type
{
  background-color:white;
  border:1px solid black;
}

.fa-facebook
{
  color:#3b5998;
}

.facebook-wrapper .card .card-body:first-of-type .card-button .card-button-wrapper .btn:last-of-type
{
  background-color:white;
  right:0;
  position:absolute;
  border:1px solid black;
}

.facebook-wrapper .card .card-body img
{
  border-radius:0;
  border-bottom:none;
  max-height:256px;
}

.facebook-wrapper .card .card-body:last-of-type img
{
  border:0;
  max-width: 48px;
  max-height: 48px;
}

.facebook-wrapper .card .card-body:last-of-type
{
  padding:40px;
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.facebook-wrapper .card .card-body:last-of-type .card-title
{
  margin-top: -5px;
  margin-left: 20px;
}


.facebook-wrapper .card .card-body:last-of-type .card-text
{
  margin-top:20px;
}

/*

  TWITTER FEED

*/

.twitter-wrapper
{
  margin:40px 0;
}

.twitter-wrapper .card
{
  width:100%;
}

.twitter-wrapper .card .card-body{}

.twitter-wrapper .card .card-body .card-title
{
  padding: 20px 40px;
}

.twitter-wrapper .card .card-body ul
{
  list-style-type: none;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.twitter-wrapper .card .card-body ul li
{
  display:flex;
}

.twitter-wrapper .card .card-body ul li p
{
  display:flex;
  flex-direction: column;
  margin-left:10px;
}

.fa-twitter
{
  color:#00aced;
  font-size:40px;
}

@media(max-width:768px)
{
  .facebook-wrapper,
  .twitter-wrapper
  {
    width:75%;
    margin:20px auto;
  }

  /* Sponsoring companies */
  .sponsoring-companies-wrapper ul li:nth-child(even)
  {
    padding: 0 40px;
    padding-left:0;
  }

  .sponsoring-companies-wrapper ul li:nth-child(odd)
  {
    padding:0 40px;
    padding-right: 0;
  }

  .sponsoring-companies-wrapper ul li img
  {
    width:75%;
  }

  /* Facebook wrapper */
  .facebook-wrapper .card .card-body:first-of-type,
  .facebook-wrapper .card .card-body:last-of-type,
  {
    padding:20px;
  }

  .facebook-wrapper .card .card-body:first-of-type .card-title,
  .facebook-wrapper .card .card-body:last-of-type .card-title
  {
    font-size:4vw;
  }

  .facebook-wrapper .card .card-body:last-of-type .card-title
  {
    margin-top:0;
  }

  .facebook-wrapper .card .card-body:first-of-type .card-title:last-of-type
  {
    font-size:3vw;
    margin:0;
  }

  .facebook-wrapper .card .card-body:first-of-type .card-button
  {
    position: inherit;
    color: black;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 4em;
  }
}


@media(min-width:1100px)
{
/* companies and feeds */
  .companies-and-social-wrapper
  {
    margin:20px auto;
    flex-direction:row;
  }

  .sponsoring-companies-wrapper
  .facebook-wrapper,
  .twitter-wrapper
  {
    height:500px;
    margin:0 10px;
    padding:0 50px;
  }

  .facebook-wrapper .card,
  .twitter-wrapper .card
  {
    height:inherit;
    margin:0;
  }

/* sponsoring companies */
  .sponsoring-companies-wrapper
  {
    padding-left:0;
  }

  .sponsoring-companies-wrapper ul
  {
    flex-direction: column;
    height: fit-content;
    padding: 0;
    margin: 0;
    margin: auto;
  }

  .sponsoring-companies-wrapper ul li
  {
    margin:40px 0;
  }

/* facebook feed */
  .facebook-wrapper
  {
    order:3;
    margin:0;
    padding-right:0;
    height:500px;
  }

  .facebook-wrapper .card .card-body:first-of-type
  {
    padding:20px;
  }

  .facebook-wrapper .card .card-body:first-of-type .card-title:first-of-type,
  .facebook-wrapper .card .card-body:last-of-type .card-title:last-of-type
  {
    font-size: 19pt;
  }

  .facebook-wrapper .card .card-body:first-of-type .card-title:last-of-type
  {
    margin:0;
  }


  .facebook-wrapper .card .card-body:first-of-type .card-button
  {
    padding: 20px;
    bottom:60px;
  }

  .facebook-wrapper .card .card-body:last-of-type
  {
    padding:20px;
  }


/* twitter feed */
  .twitter-wrapper
  {

  }

  .twitter-wrapper .card .card-body .card-title
  {
    padding:20px;
  }

  .twitter-wrapper .card .card-body ul
  {
    padding: 0 20px;
  }
}
