
.logo-footer img {
  height: 100px;
}


.footer-background {
  background-color: #333d47;
  position: static;
  bottom: 0;
  width: 100%;
}

.footer-nav{
  display: flex;
  flex-direction: row;
}

.btn {
  color: white;
  background-color: #333d47;
}

.navbar-nav {
  padding-left: 55px;
}

.footer-nav-item {
  color: white;
  font-size: small;
}

.copyright-info {
  width: 40%;
  color: white;
}

.seperator {
  color: white;
  padding-top: 6px;
}

.nav-link {
  color: white!important;
}

.nav-link.active {
  color: white!important;
  font-weight: 700;
}

.nav-link:hover {
  color: #ff5000!important;
}


.nav li a:hover {
  background-color: #333d47;
}
