
.logo-small{
  width: 100px;
}

.nav-background {
  background-color: #333d47;
}

.btn {
  color: white;
  background-color: #333d47;
}

.navbar-nav {
  padding-left: 55px;
}

.nav-item {
  padding-right: 30px!important;
  color: white;
}

.nav-link {
  color: white!important;
}

.nav-link.active {
  color: white!important;
  font-weight: 700;
}

.nav-link:hover {
  color: #ff5000!important;
}

.navbar-icon {
  width: 50px;
}

.nav li a:hover {
  background-color: #333d47;
}

@media (max-width: 991px) {
  .copyright-info {
    width: 80%!important;
  }

  @media (max-width: 576px) {
    .copyright-info {
      width: 80%!important;
    }

}
