
.registerCont{
	max-width: 100%;
	height: 750px;
	margin: 0;
	background: linear-gradient(rgba(255, 140, 0, 0.2), rgba(255, 140, 0, 0.2)), url('../images/login-background/hero@2x.jpg') no-repeat center;
	background-size: 100% 100%;
}

.register-form{
	background-color: white;
	padding: 30px 25px;
	width: 400px;
	border-radius: 10px;
}

.login-form p{
	margin-bottom: 20px;
}
