

.testi-container {
  background-color: white;
  color: black;
  display: flex;
}

.testi-container p {
  padding-top: 30px;
  padding-left: 35px;
  width: 90%;

}

.testi-button {
  position: absolute;
  right: 30px;
  margin-top: 20px;
}
