

.testi-container {
  width: 47%;
}

.container-format {
  background-color: white!important;
  color: black!important;
  display: flex;

}

.testi-container p {


}

.testi-button {
  margin-top: 20px;
}


  @media (max-width: 991px) {
    .testi-container {
      width: 100%;
    }
